.slider {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex:1 1 auto;
    height: 500px;
    align-items: center;
}

.card {
    background-color: rgb(184, 184, 255);
    flex: 8;
    padding: 16px;;
    height: 100%;
}

.button {
    height: 100%;
    flex:1;
    border: none;
    cursor: pointer;
    max-width: 80px;
}

.cancel {
    background-color: rgb(203, 23, 23);
    color: white;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

.accept {
    background-color: rgb(60, 199, 17);
    color: white;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}