.app_header {
  background-color: #F9F9F9;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
  height: 120px;
  margin-bottom:16px ;

  &>nav{
    display: block;
    flex: 1;
    max-width: 50%;

    &>ul  {
      display: flex;
      gap:16px;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      height: 100%;

      &>li>a {
        font-weight: 700;
      }
    }
  }

  .link {
    color: #606060;
    text-transform: uppercase
;

    &:hover {
      color: gold;
    }

    transition: all .4s ease;
  }

  border-bottom: 1px solid #919191;
}

.header_input {
  height: 60px;
  background-color: #EDEDED;
  border: none;
  padding: 18px 22px;
  outline: none;
  border-radius: 16px;
}

.buttons_block {
  display: flex;
  gap: 8px;
}