.btn {
  margin: 0.5em;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding-inline: 8px;
  text-align: center;


  &::after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
  }
 }

 
 .filled_btn {
  background: black;
  color: white;

  &:hover {
    color: black;

    &::after {
      transform: skewX(-45deg) scale(1, 1);
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
    }
  }

}

 .outline_btn {
  border: 2px solid black;
  color: black;
  background-color: transparent;

  &:hover {
    background-color: rgba(0, 0, 0, 0.082);
  }
 }
 