* {
  box-sizing: border-box;
  color: black;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: 500;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-color: #F9F9F9;
}

.app_wrapper {
  max-width: 80%;
  margin: 0 auto;  
}

